.card {
    height: 100px;
    width: 50%;
    
    background-color: rgb(74, 0, 143);
    color: white;
    
    border-radius: 10px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 24px;
}